# Upon commit and PR run python .github/workflows/utils/make.py build_all
# to check if all examples compile
# Install fortran compiler

name: Test Compilation

on:
  push:
    branches:
      - main
  pull-request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Install Fortran compiler ubuntu
        if: matrix.os  == 'ubuntu-latest'
        run: sudo apt-get install gfortran
      - name: Install Fortran compiler macos
        if: matrix.os == 'macos-latest'
        run: brew install gcc gfortran
      - name: Install Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.x"
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build all
        run: python3 make.py build_all
